/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Visual Studio ve proje ayar dosyaları
.vs/
.gradle/
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.pdb
*.mdb
.utmp/
*.apk
oyunumuz_BackUpThisFolder_ButDontShipItWithYourGame/
my game_BurstDebugInformation_DoNotShip/